.certificate__subheader {
  font-size: 40px;
  line-height: 44px;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 20px;
}

@media (max-width: 320px) {
  .certificate__subheader {
    font-size: 24px;
    line-height: 28px;

    margin-block-start: 0;
    margin-block-end: 15px;
  }
}