.certificate__text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 625px;
}

@media screen and (max-width: 425px) {
    .certificate__text-box {
        max-width: 280px;
    }
}