.main__certificate {
  display: block;
  margin: 0 0 30px 0;
  width: 384px;
  height: 542px;
}

@media screen and (max-width: 1160px) {
  .main__certificate {
    margin: 0 0 64px 0;
  }
}

@media screen and (max-width: 440px) {
  .main__certificate {
    margin: 0 0 50px 0;
    width: 280px;
    height: 395px;
  }
}