.certificate__name {
    margin: 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
    font-style: normal;
}

@media screen and (max-width: 425px) {
    .certificate__name {
        font-size: 16px;
        line-height: 19px;
    }
}