@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/root/root.css);
@import url(../blocks/root/__section/root__section.css);

@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__label/header__label.css);

@import url(../blocks/certificate/certificate.css);
@import url(../blocks/certificate/__text-box/certificate__text-box.css);
@import url(../blocks/certificate/__name/certificate__name.css);
@import url(../blocks/certificate/__title/certificate__title.css);
@import url(../blocks/certificate/__student/certificate__student.css);
@import url(../blocks/certificate/__date/certificate__date.css);
@import url(../blocks/certificate/__image-box/certificate__image-box.css);
@import url(../blocks/certificate/__image/certificate__image.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__caption/footer__caption.css);
@import url(../blocks/footer/__share/footer__share.css);
@import url(../blocks/footer/__icon/footer__icon.css);
@import url(../blocks/footer/__link/footer__link.css);